.otherproducts {
  color: var(--secondary_color_dark);
  padding: 10.9rem 0 17.5rem 0;
  background-color: var(--primary_color);
  overflow-x: hidden;
}
.otherproducts h3 {
  text-align: center;
  margin-bottom: 8.6rem;
}

.otherproducts_cont {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* column-gap: 3rem;
  row-gap: 8rem; */
  position: relative;
}
.otherproducts_first_cont,
.otherproducts_second_cont {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  column-gap: 5rem;
  overflow-x: scroll;
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}
.otherproducts_second_cont {
  margin-top: 5rem;
}
.otherproducts_cont li {
  width: 35rem;
}
.otherproducts_cont li img {
  width: 100%;
}
